<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="chat" enabled="false">
                    <match url="chat/(.*)" />
                    <conditions logicalGrouping="MatchAny">
                    </conditions>
                    <action type="Rewrite" url="http://127.0.0.1:8080/(R:0)" logRewrittenUrl="true" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
